.cardContainer{
	position: relative;
	top: 0px;
	left: 0px;
}

.cardContainerClick{
	animation-name: test;
	animation-duration: 2s;
	opacity: 0;
	animation-timing-function: linear;
}
@keyframes test {
	from{transform: scale(1,1);opacity: 1;}
	50%{transform: scale(0.5,0.5);opacity: 0.5;}
	to{transform: scale(1,1);opacity: 0;}
}


.cardStyle{
	background-color: #3a3f35;
	width: 10em;
	margin: 1em;
	padding-top: 10px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	visibility:visible;
	animation: cardEntry 0.4 ease-out 2.7s;
	position: relative;
	z-index: 0;
	top: 0px;
	left: 0px;
}
@keyframes cardEntry {
	from{opacity: 0;}
	25%{opacity: 0;}
	90%{opacity: 1;}
}

.entryPortalContainer{
	position: absolute;
	top: -3em;
	left: -2em;
	z-index: -10;
	opacity: 1;
	transform:scale(0,0);
	animation-name: portalAnimation;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.entryPortalImage{
	width: 16em;
}

@keyframes portalAnimation {
	from{transform: scale(0,0);}
	15%{transform: scale(1,1);}
	50%{transform: scale(1,1);}
	70%{transform: scale(1,1);}
	85%{transform: scale(0,0);}
	to{display: none;}
}

.imageContainer{
	width: 9em;
	position: relative;
	top: 0px;
	left: 0px;
	margin-bottom: 30px;
}

.characterImage{
	width: 9em;
	border-radius: 20px;
}



.name{
	font-family: 'Get Schwifty';
	font-size: 1.4em;
	position: absolute;
	left: 50%;
  	transform: translate(-50%, 0%);
	bottom: -30px;
}

.title {
	position: absolute;
	bottom: -30px;
	width: 100%;
	text-align: center;
	font-family: 'Get Schwifty';
	font-size: 1.6em;
	color: #08BAE3;
	z-index: 50;
	-webkit-text-stroke: 1px rgba(0,0,0,0.5);
	animation-name: rezise;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-timing-function:ease-in-out ;
  }

  @keyframes rezise {
	from{scale: 1.0;}
	50%{scale: 0.8;}
	to{scale: 1.0;}
  }
  
  .title.middle {
	-webkit-text-stroke: 0.1em #FFF765;
	z-index: 49;
  }
  
  .title.bottom {
	-webkit-text-stroke: 0.4em black;
	z-index: 48;
  }
 

.buttonsContainer{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

.shipButton{
	width: 60px;
}

.shipContainer{
	position: relative;
}

.shipImage{
	display: block;
	width: 100%;
	transition: transform 0.2s linear;
}
.shipContainer:hover .shipImage{
	transform: scale(1.2) rotate(-25deg);
	animation: shipMovement 1s ease 0.2s infinite;
}
@keyframes shipMovement {
	from {transform: rotate(-25deg) scale(1.2);}
	50%{transform: rotate(-35deg) scale(1.2);}
	to {transform: rotate(-25deg) scale(1.2);}
  }

.shipText{
	text-decoration: none;
	font-size: 15px;
	width: 100%;
	position: absolute;
	top:20px;
	left: 5px;
	font-weight: 700;
	color: rgb(156, 255, 62);
}

.portalButton{
	width: 60px;
	
}

.portalContainer{
	position: relative;
}

.portalImage{
	display: block;
	width: 35px;
	transition: transform 0.2s linear;
}

/* Animacion de salida */
.portalImageOut{
	animation-name: portalOut;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes portalOut {
	from{transform: scale(2,2);}
	to{transform: scale(5,5);}
}

.portalContainer:hover .portalImage{
	transform: scale(2,2);
}

.portalText{
	text-decoration: none;
	font-size: 30px;
	width: 100%;
	position: absolute;
	top:7px;
	left: 7px;
	color: rgb(255, 255, 255);
}
