.item{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color:#cccccc; 
    border-style:solid;
}

.redirect{
    width: 55px;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.redirect:hover{
    background-color: greenyellow;
}

.shipImage{
    width: 50px;
    position: relative;
    top: 0;
    left: 0;
    transition: transform 1s;
}

.redirect:hover .shipImage{
    transform: translate(0,-20px);
}

.details{

    position: absolute;
    opacity: 0;
    transition: transform 1s;
    transition-timing-function: linear;
}

.redirect:hover .details{
    opacity: 1;
}

.container{
    height: 60px;
    width: 220px;
    color: black;
    background-color: bisque;
    /* border-width: 1px;
    border-color:#cccccc; 
    border-style:solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.container:hover{
    background-color: aquamarine;
}


.image{
    height: 60px;
}

.data{
    display: flex;
    flex-direction: column;
}

.status{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.statusSignal{
    margin-right: 5px;
    height: 14px;
    width: 14px;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 7px;
}

.alive{
    background-color: green;
}

.dead{
    background-color: red;
}

.unknown{
    background-color: grey;
}